body, html{
    padding: 0px;
    margin: 0px;
    background-color: rgb(36, 36, 36);
    color: rgb(185, 185, 185);
    font-family: 'Roboto', sans-serif;
}

#logo {
    display: block;
    height: 70px;
    width: 100px;
    margin-top: 70px;
    margin-left: 50%;
    margin-bottom: 70px;
    border: solid 4px orangered;
    color: orangered;
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    transform: translate(-50%, 0%);
}

#train{
    position: fixed;
    left: -5vh;
    bottom: 0px;
    opacity: 0.1;
    height: 92vh;
    -webkit-filter: blur(2px);
}

#username, #password{
    background-color: rgba(46, 46, 46, 0);
    padding: 5px;
    outline: none;
    max-width: 375px;
    text-decoration: none;
    color:  rgb(185, 185, 185);
    border-width: 0px 0px 3px 0px;
    border-color: orangered;
    font-size: 30px;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 30px;
}

#loginbtn{
    display: block;
    padding: 5px;
    min-width: 250px;
    background: orangered;
    text-decoration: none;
    font-size: 30px;
    margin-left: 50%;
    margin-top: 30px;
    border: none;
    transform: translate(-50%, 0%);
    color: white;
    outline: none;
}

#loginbtn:hover{
    transition: 0.2s;
    background: rgb(197, 53, 0);
}

#loginbtn:active{
    transition: 0.2s;
    background: rgb(141, 38, 0);
}

#admlgin{
    position: fixed;
    left: 50%;
    bottom: 20px;
    color: orangered;
    text-decoration: none;
    font-size: 20px;
    transform: translate(-50%, 0%);
}

nav{
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 25vw;
    min-width: 300px;
    height: 100%;
    background: rgb(46, 46, 46);
    z-index: 1000;
}

#profile{
    transform: translate(-50%, 0%);
    margin-left: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    background: rgb(36,36,36);
    border-radius: 50%;
    border: solid 2px orangered;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

#profile::before{
    display: block;
    content: "";
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 10px;
    background-color: rgb(46,46,46);
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

#profile::after{
    display: block;
    content: "";
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 120px;
    background-color: rgb(46,46,46);
    border-radius: 50%;
    height: 300px;
    width: 200px;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li{
    width: calc(100% - 20px);
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(56, 56, 56);
}

nav ul li:hover{
    transition: 0.2s;
    background-color: orangered;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

#content{
    margin-left: 25vw;
}

#searchbar{
    margin-top: 20px;
    background-color: rgba(46, 46, 46, 0);
    padding: 5px;
    padding-left: 15px;
    border: solid 2px orangered;
    color: white;
    border-radius: 15px;
    outline: none;
    font-size: 20px;
    width: 60vw;
}

#searchbtn{
    display: inline-block;
    font-size: 0px;
    height: 40px;
    width: 40px;
    background: orangered;
    margin-left: 10px;
    border-radius: 50%;
    transform: translate(0%, -18%);
    border: none;
    outline: none;
}
#search{
    display: inline-block;
    position: relative;
}
#search::before{
    display: block;
    content: "";
    position: absolute;
    border-radius: 50%;
    height: 10px;
    left: 16px;
    width: 10px;
    border: solid 4px white;
    z-index: 2;
}
#search::after{
    display: block;
    content: "";
    position: absolute;
    height: 5px;
    left: 29px;
    top: 16px;
    width: 12px;
    border: none;
    background: white;
    transform: rotate(45deg);
    z-index: 2;
}

#searchbtn:hover{
    background-color: rgb(197, 53, 0);
}

#search:hover > #searchbtn{
    background-color: rgb(197, 53, 0);
}

.record{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    border-width: 1px 0px 0px 0px;
    border-color: orangered;
    border-style: solid;
    margin-top: 10px;
    height: 70px;
}

.train-name{
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 30px;
    max-width: 33%;
    max-height: 30px;
    word-break: break-all;
    overflow: hidden;
}

.train-id{
    display: block;
    position: absolute;
    top: 50px;
    left: 30px;
    max-width: 33%;
}

.date{
    display: block;
    position: absolute;
    top: 15px;
    transform: translate(-50%, 0%);
    font-size: 20px;
    left: calc(50% + 30px);
    max-width: 33%;
}

.booked{
    display: block;
    position: absolute;
    top: 45px;
    transform: translate(-50%, 0%);
    left: calc(50% + 30px);
    max-width: 33%;
}

.book{
    display: block;
    cursor: pointer;
    position: absolute;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: orangered;
    color: white;
    top: 20px;
    transform: translate(-50%, 0%);
    right: 60px;
}

.book:hover{
    transition: 0.2s;
    background-color: rgb(197, 53, 0);
}